{% load static %}
<div class="swiper-container swiper1">

<div id="fullpage">
    <div class="section">
        <img src="{% static 'images/kncc.png' %}" class="img-fluid imagefont w-100 h100">
      
        
    </div>
    <div class="section ">
        <div class="slide" data-anchor="slide1">
            <video autoplay muted loop class="d-block img-fluid w-100 h-100">
            <source src="{% static 'images/tec.mp4' %}" type="video/mp4">
        </video></div>
        <div class="slide" data-anchor="slide2">
            <img src="{% static 'images/2.svg' %}" class="img-fluid w-100">
        </div>
    </div>
</div>
</div>