{% load static %}
<nav class="navbar navbar-expand-lg  nnev p-0 ">
    <div class="container-fluid">

      <a class="navbar-brand text-white d-block" href="#">

        <img src="{% static 'images/s3.svg' %}" alt=""  class="logo" >
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav mx-3">
          <li class="nav-item dropdown nevbtton mx-1">
            <a class="nav-link text-white" href="{% url 'home' %}" role="button"  aria-expanded="false">
              HOME
            </a>
          </li>
          <li class="nav-item dropdown nevbtton mx-1">
            <a class="nav-link text-white" href="{% url 'home' %}" role="button"  aria-expanded="false">
              SCHOOL PROFILE

            </a>
            <ul class="dropdown-menu mx-3">
              
              <li><a class="dropdown-item " href="{% url 'history'%}">SCHOOL HISTORY</a></li>
              <li><a class="dropdown-item " href="{% url 'history'%}">SCHOOL INFO</a></li>
              <!-- 1><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          {% for x in nev %}
            <li class="nav-item dropdown nevbtton mx-1">
                <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="True">
                  {{x.nevbrtext}}
                </a>
                <ul class="dropdown-menu mx-3">
                  {% for fk in x.nevdrop_set.all %}
                  <li><a class="dropdown-item " href="{% url 'unions' fk.name %}">{{ fk.name}}</a></li>
                  {% endfor %}
                  <!-- 1><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              {% endfor %}
              <!-- <li class="nav-item dropdown">
                <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link  text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link  text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>