<section class="bg-dark">
<div class="container prince-con mx-auto mt-4">
    <div class=" card border-warning text-dark shadow-lg bg-dark" data-aos="fade-up"
    data-aos-anchor-placement="center-bottom">
        <h2 class="card-header h2 border-warning text-center">
            <i class="bi bi-newspaper"></i> KNCC NEWS PANNEL
        </h2>
        <ul class="list-group list-group-flush text-white ">
          {% for news in news %}
            <li class="list-group-item bg-dark  border-warning">
              <div class="row">
                <div class="col-3 bg-warning h2 justify-content-center rounded text-white p-2 mx-1  sm-col-1 d-inline ">{{ news.newsdate|date }}</div>
                <blockquote class="blockquote  text-white mb-0 mx-2 col">
                <h4 class="h3">{{ news.newshd }}</h4>
                <p class="body-text">{{ news.newsdetails }}</p>
                <footer class="blockquote-footer text-white">Sourse by kncc administration-<cite title="Source Title">{{ news.newsdate }}</cite></footer>
              </blockquote></div>
                
                </li>
            
            {% endfor %}
          </ul>
      </div>
</div>
</section>