<!-- Page Content -->
{% include 'header/header.html'%}
{% block content %}
{% load static %}
{% include 'inc1/nevv.html' %}
<div class="container">
    
    <h1 class="fw-light text-center text-white text-lg-start   mb-0" style="margin-top: 100px;"><center>Hall of frame of {{x}} Gallery</center></h1>
    
    <hr class="mt-2 mb-5 bg-white">

    <div class="row text-center text-lg-start">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/11.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/10.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/8.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/9.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
        </div>
    </div>
    <div class="container border-warning card bg-dark my-5">
    <div class="card-header border-warning text-white h3 "><center>detail of event</center></div>
    <blockquote class="blockquote mx-auto">
        <p class="mb-0 text-white">{{ photo }}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
    </div>

</div>
{% include 'header/footer.html' %}
<div></div>
{% endblock content %}