{% include 'header/header.html'%}
{% block content %}
{% load static %}
<div class="m-0 ">
    {% include 'inc1/nevv.html' %}
    {% include 'inc1/agsb.html' %}
</div>
    <div class="mt-5">
       
        <!-- card for principle -->
         <div class="container m-1 mx-auto p-0">
            <div class="card border-warning  bg-secondary" data-aos="zoom-out" >
            <div class="row  g-0">
                <!-- <div class="col-3 ">
                    <div class="vr" >

                    </div>
                </div> -->
                <!-- <div class="col col-md-4 ">
                    <img src="{% static 'images/p1.svg' %}" class="object-fit-cover border rounded" width="500" >

                    <div class="card-body image-overlay boybg ">
                        <h4 class="card-title text-dark" data-aos="zoom-out">A message from ousr principle</h4>
                        <p class="card-text text-dark ptxt"></p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>    
                </div> -->

                <div class="col-4 block">
                    <img src="{% static 'images/p.svg' %}" class="object-fit-cover border rounded " height="300" >
                </div>
                <div class="col-8 block card-body ml-0" style="overflow-wrap: break-word;">
                    <div class="card-body  boybg text-wrap ">
                        <h4 class="card-title text-dark text" data-aos="zoom-out">A message from ousr principle</h4>
                        <p class="card-text text-dark ptxt"></p>
                        <p class="card-text"><small class="text-muted">s.poolakaraja</small></p>
                    </div>  
                </div>
            </div>
        </div>
        </div>
        <!-- divclear -->
        <div class="container mt-5">
            <center><h2 class="text-white">SCHOOL  VISIONS</h2></center>
            <div class="row row-cols-3">
                <div class="col">
                <div class="card boybg border-warning " data-aos="fade-right" data-aos-duration="1000">
                    
                        <div class="card-body text-white">
                            <h4 class="card-header border-warning">school moto</h4>
                            <p class="card-text">
                                skgokhjgkldjgklejgkjgfklnmgkljklgjsklsdkljgfklsjgfklsj
                            </p>

                        </div>
                    
                </div>
                </div>
                <div class="col">
                    <div class="card boybg border-warning text-white" data-aos="zoom-out" data-aos-duration="1000">
                        
                            <div class="card-body">
                                <h4 class="card-header border-warning">school moto</h4>
                                <p class="card-text">
                                    skgokhjgkldjgklejgkjgfklnmgkljklgjsklsdkljgfklsjgfklsj
                                </p>
    
                            </div>
                        
                    </div>
                    </div>
                    <div class="col">
                        <div class="card boybg border-warning text-white" data-aos="fade-left" data-aos-duration="1000">
                            
                                <div class="card-body">
                                    <h4 class="card-header border-warning">school moto</h4>
                                    <p class="card-text">
                                        skgokhjgkldjgklejgkjgfklnmgkljklgjsklsdkljgfklsjgfklsj
                                    </p>
        
                                </div>
                            
                        </div>
                        </div>
            </div>
        </div>
        <!-- cardclaer -->
        <!-- for card  -->
        
        <div class="container-fluid" >
            <center><h2 class="text-white mx-auto mt-5">OUR ACHIVEMENTS</h2></center>
            
            <div class="row row-cols-5 row-md-cols-3 row-sm-cols-2 mx-2 my-2 justify-content-center" >
            <div class="card col-2 carad boybg text-white border-warning" style="width: 17rem;" data-aos="flip-left" data-aos-duration="1000">
                <img src="{% static 'images/10.svg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-header border-warning">school moto</h4>

                  <p class="card-text">Some eeequick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card col-2 carad boybg border-warning text-white" style="width: 17rem;" data-aos="flip-left" data-aos-duration="1000">
                <img src="{% static 'images/6.svg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-header border-warning">school moto</h4>

                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card bg-dark col-2 carad text-white boybg border-warning" style="width: 17rem;" data-aos="flip-left" data-aos-duration="1000">
                <img src="{% static 'images/7.svg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-header border-warning">school moto</h4>

                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card col-2 carad text-white boybg border-warning" style ="width: 17rem;" data-aos="flip-left" data-aos-duration="1000">
                <img src="{% static 'images/9.svg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-header border-warning">school moto</h4>

                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                
              </div>
              
            </div>
            <div class="container mt-4">
                <div class=" card border-warning text-white bg-dark" data-aos="fade-up"
                data-aos-anchor-placement="center-bottom">
                    <h3 class="card-header border-warning text-center">
                        <i class="bi bi-newspaper"></i> KNCC NEWS PANNEL
                    </h3>
                    <ul class="list-group list-group-flush text-white ">
                        <li class="list-group-item bg-dark  border-warning">
                            <blockquote class="blockquote  text-white mb-0 ">
                                <p>First Rank in E-tec</p>
                                <p class="body-text">the student studying in kilinochi central collage in student in tharshan got first rank in kilinochi</p>
                                <footer class="blockquote-footer text-white">Sourse by kncc administration-<cite title="Source Title">2023/04/01</cite></footer>
                              </blockquote></li>
                              <li class="list-group-item bg-dark  border-warning">
                                <blockquote class="blockquote  text-white mb-0 ">
                                    <p>Match box in knkcc</p>
                                    <p class="body-text">in search of school the administrative found the matchs box in  school student bag  late the student name changes to theepeti by hiscomrades</p>
                                    <footer class="blockquote-footer text-white">Sourse by kncc administration-<cite title="Source Title">2023/04/01</cite></footer>
                                  </blockquote></li>
                                  <li class="list-group-item bg-dark  border-warning">
                                    <blockquote class="blockquote  text-white mb-0 ">
                                        <p>First Rank in E-tec</p>
                                        <p class="body-text">the student studying in kilinochi central collage in student in tharshan got first rank in kilinochi</p>
                                        <footer class="blockquote-footer text-white">Sourse by kncc administration-<cite title="Source Title">2023/04/01</cite></footer>
                                      </blockquote></li>
                                      <li class="list-group-item bg-dark  border-warning">
                                        <blockquote class="blockquote  text-white mb-0 ">
                                            <p>Match box in knkcc</p>
                                            <p class="body-text">in search of school the administrative found the matchs box in  school student bag  late the student name changes to theepeti by hiscomrades</p>
                                            <footer class="blockquote-footer text-white">Sourse by kncc administration-<cite title="Source Title">2023/04/01</cite></footer>
                                          </blockquote></li>

                                  
                        
                      </ul>
                  </div>
            </div>
        </div>

        
        <!--</div>
    </div>
        <div class="bg-dark py-2">
        <div class="row  m-1 rounded mx-auto">
            <div class="col card border-warning  shadow-lg bg-gradient mb-3 mx-2 item" >
                <div class="card-header">
                    VISION
                </div>
                <div class="card-body text-dark mx-2">
                    <div class="card-title">
                        dark card title
                        <div class="card-text">some quixk exapmklsnfl</div>
                    </div>

                </div>
                

            </div>
            <div class="col card border-warning mb-3 shadow-lg mx-2 item">
                <div class="card-header">
                    MISSION
                </div>
                <div class="card-body text-dark mx-2">
                    <div class="card-title">
                        dark card title
                        <div class="card-text">some quixk exapmklsnfl</div>
                    </div>

                </div>
                

            </div>
        <div class="col card border-warning  shadow-lg  mb-3 mx-2 item">
            <div class="card-header">
                Moto
            </div>
            <div class="card-body text-dark mx-2">
                <div class="card-title">
                    dark card title
                    <div class="card-text">some quixk exapmklsnfl</div>
                </div>

            </div>
             -->

        <!-- </div> -->
        </div>
        
    
    
        {% include 'header/footer.html' %}
   
{% endblock content %}
