{% include 'header/header.html'%}
{% block content %}
{% load static %}
<div class="m-0 ">
    {% include 'inc1/nevv.html' %}

</div>
<!-- <div class="w-100 h-16">

</div> -->
<div class="container hist d-block " style="margin-top: 100px;">
    <div class="row text-center mt-4 text-lg-start">
        
        <div class="  col-lg-3 col-md-4 col-6">
            <div class="card rounded"></div>
            <a href="#" class="d-block mb-4 h-100">
                <img class="card-img img-thumbnail" src="{% static 'images/7.svg' %}" alt="">
            </a>
            <div class="card-img-overlay">
                <h5 class="card-title bg-dark z-index text-white">Hover Text</h5>
                <p class="card-text">Some content here</p>
              </div>
              </div>
        </div>
        </div>
</div>
</div>
</div>
</div>

        
    
    
{% include 'header/footer.html' %}
   
{% endblock content %}
